<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnwy.app.demo.mapper.JobMapper">

	<select id="selectListByIdList" resultType="com.cnwy.app.demo.entity.vo.JobDTO">
		select j.*
		from job j
		where j.id in
		<foreach item="item" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper> 